<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
        {% include 'header.html' %}
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3>MENU</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a HREF="/">HOME</a>
                        <a HREF="/">实时新闻</a>
                        <a HREF="/">电视新闻</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="card">
                    <div class="card-header">
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class="card-body">
                        {% block content %} {% endblock %}
                    </div>
                    <div class="card-footer">
                        {% include 'footer.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>